body, html {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  padding: 0px;
  margin: 0px;
  border: none;

  box-sizing: border-box;

  overflow: hidden;
}

ul {
  display: block;

  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: $xs-content-spacing;
  border: none;

  box-sizing: border-box;

  width: auto;
  height: auto;

  li {
    display: block;

    padding-left: 20px;
    margin: 0px;
    border: none;

    box-sizing: border-box;

    width: auto;
    height: auto;

    list-style: none;
  }
}

* {
  font-family: 'Vesper Libre', serif;
  font-size: $xs-font-size;
  color: $text-color;
}

@include media-breakpoint-up(xs) {
  * {
    font-size: $sm-font-size;
  }
}

@include media-breakpoint-up(sm) {
  * {
    font-size: $md-font-size;
  }
}

@include media-breakpoint-up(md) {
  * {
    font-size: $lg-font-size;
  }
}

a, a:hover {
  text-decoration: none;
  color: $link-color;
}

a, h1, h2, h3, h4, h5, h6 {
  &:target {
    color: #ff7e00;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya SC', serif;
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  margin-bottom: $xs-content-spacing;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

table {
  margin-bottom: $xs-content-spacing;
}

p {
  margin-bottom: $xs-content-spacing;
}

@include media-breakpoint-up(xs) {
  h1, h2, h3, h4, h5, h6, p, table, ul {
    margin-bottom: $sm-content-spacing;
  }
}

@include media-breakpoint-up(sm) {
  h1, h2, h3, h4, h5, h6, p, table, ul {
    margin-bottom: $md-content-spacing;
  }
}

@include media-breakpoint-up(md) {
  h1, h2, h3, h4, h5, h6, p, table, ul {
    margin-bottom: $lg-content-spacing;
  }
}
