$font-size: (
  "xs": 12px,
  "sm": 14px,
  "md": 16px,
  "lg": 16px
);

$link-color: #3498db;
$text-color: rgba(0.05, 0.05, 0.05, 1);
$page-color: #ffffff;

$header-size: (
  "xs": (
    1: 1.8em,
    2: 1.6em,
    3: 1.4em,
    4: 1.3em,
    5: 1.2em,
    6: 1em
  ),
  "sm": (
    1: 2.5em,
    2: 2em,
    3: 1.8em,
    4: 1.4em,
    5: 1.2em,
    6: 1em
  ),
  "md": (
    1: 2.5em,
    2: 2em,
    3: 1.8em,
    4: 1.4em,
    5: 1.2em,
    6: 1em
  ),
  "lg": (
    1: 3em,
    2: 2.5em,
    3: 2em,
    4: 1.8em,
    5: 1.4em,
    6: 1em
  ),
  "xl": (
    1: 3em,
    2: 2.5em,
    3: 2em,
    4: 1.8em,
    5: 1.4em,
    6: 1em
  )
);

$content-spacing: (
  "xs": 1em,
  "sm": 0.8em,
  "md": 0.7em,
  "lg": 0.5em,
  "xl": 0.5em
);
