.badge {
  font-size: 1em;
  box-sizing: border-box;
  line-height: 1em;
  vertical-align: middle;

  &.badge-primary {
    background-color: rgba(100, 100, 100, 1.0);
    border: solid 1px rgba(100, 100, 100, 1.0);
  }

  &.badge-secondary {
    background: none;
    border: solid 1px rgba(100, 100, 100, 1.0);
    color: rgba(100, 100, 100, 1.0);
  }
}
