table.instinct-modifier {
  width: 300px;

  margin: auto;
  margin-bottom: 1em;
  padding: 0px;

  text-align: center;
  vertical-align: middle;

  thead {
    height: 25px;
  }

  tbody {
    img {
      width: 120px;
    }
  }
}
