table.table-1d {
  text-align: center;
  font-size: 1em;
  margin: auto;
  margin-bottom: 1rem;

  tbody {
    td, th {
      margin: 0px;
      padding: 0px;
    }

    tr.selected, td.selected, th.selected {
      background-color: #f5f5f5;
    }

    tr {
      th {
        border-right: 2px solid $text-color;
      }

      td + td {
        border-left: solid 1px lighten($text-color, 90%);
      }
    }

    tr + tr {
      td {
        border-top: solid 1px lighten($text-color, 90%);
      }
    }

    tr:last-child {
      th {
        border-top: 2px solid $text-color;
        border-right: none;
      }
    }
  }

  .percent {
    font-size: 0.75em;
    vertical-align: baseline;
    color: lighten($text-color, 50%);
  }
}

table.table-1d.table-vertical {
  text-align: left;
  font-size: 1em;
  margin: auto;
  margin-bottom: 1rem;

  thead {
    tr {
      border-bottom: 2px solid $text-color;
      border-right: none;

      td, th {
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        text-overflow: ellipsis;
      }
    }
  }

  tbody {
    td, th {
      margin: 0px;
      padding: 0px;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
      text-overflow: ellipsis;
    }

    tr.selected, td.selected, th.selected {
      background-color: #f5f5f5;
    }

    tr {
      th {
        border-right: 2px solid $text-color;
      }

      td + td {
        border-left: solid 1px lighten($text-color, 90%);
      }
    }

    tr + tr {
      td {
        border-top: solid 1px lighten($text-color, 90%);
      }
    }

    tr:last-child {
      th {
        border-top: 2px solid $text-color;
        border-right: none;
      }
    }
  }

  tfoot {
    tr {
      border-top: 2px solid $text-color;
      border-right: none;

      td, th {
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        text-overflow: ellipsis;
      }
    }
  }

  .percent {
    font-size: 0.75em;
    vertical-align: baseline;
    color: lighten($text-color, 50%);
  }
}
