.layout.layout-sandwich {
  display: block;
  position: relative;

  border: none;
  padding: 0px;
  margin: 0px;

  padding-top: 5em;
  padding-bottom: 5em;

  overflow: hidden;

  width: 100%;
  height: auto;
  min-height: 100%;
}
