.layout.layout-centered {
  display: flex;
  position: absolute;

  border: none;
  padding: 0px;
  margin: 0px;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  width: auto;
  height: auto;

  overflow: hidden;
  overflow-y: auto;

  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  align-content: center;
}
