.corvus-block.corvus-entry-set {
  table {
    position: relative;

    width: 100%;
    height: auto;

    td, th {
      padding: 5px;
      padding-top: 10px;

      border: 1px solid lighten($text-color, 80%);

      font-size: 1rem;
      line-height: 1rem;
    }
  }
}