.corvus-block.corvus-paragraph {  
  p {
    display: block;
    position: relative;

    margin: 0px;
    padding: 0px;
    border: none;

    line-height: 1.5rem;
  }

  a {
    color: $link-color;
  }
}