.corvus-matter {
  .corvus-block-content {
    display: flex;
    position: relative;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    .corvus-matter-column {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 1;
      min-width: 0;

      .corvus-matter-element {
        display: flex;
        position: relative;

        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    
        padding: 0px;
        margin: 0px;
        border: none;
        
        width: 100%;
        height: auto;
    
        font-size: 1em;
        color: lighten($text-color, 50%);

        white-space: nowrap;
        overflow: hidden;

        &:after {
          content: "··································································································································";
          display: block;
          position: relative;

          flex-basis: auto;
          flex-grow: 0;
          flex-shrink: 1;
    
          margin-left: 5px;
    
          color: lighten($text-color, 50%);
        }
    
        @each $level in (1, 2, 3, 4, 5, 6) {
          &.corvus-matter-depth-#{$level} {
            padding-left: $level * 10px;
          }
        }
      }
  
      .corvus-matter-element[href=':target'] {
        color: #ff7e00;
      }
    }

    @include media-breakpoint-up('md') {
      .corvus-matter-column {
        flex-basis: 50%;
      }
    }
  }
}
