.corvus-loading {
  display: block;
  position: relative;

  margin: 0px;
  padding: 0px;
  border: none;

  box-sizing: border-box;

  h1 {
    display: block;
    position: relative;

    margin: 0px;
    margin-bottom: 1rem;
    padding: 0px;
    border: none;
    
    font-size: 4rem;
    text-align: center;

    box-sizing: border-box;
  }

  .corvus-loading-feedback {
    display: block;
    position: relative;
    
    margin: 0px;
    padding: 0px;
    border: none;

    font-size: 1rem;
    text-align: center;
    opacity: 0.5;

    box-sizing: border-box;
  }
}
