.corvus-matter {
  display: block;
  position: relative;

  margin: 0px;
  padding: 0px;
  border: none;

  width: 100%;
  height: auto;

  box-sizing: border-box;

  .corvus-matter-element {
    display: block;
    position: relative;

    padding: 0px;
    margin: 0px;
    border: none;
    
    width: 100%;
    height: auto;

    font-size: 1em;
    color: lighten($text-color, 50%);

    @each $level in (1, 2, 3, 4, 5, 6) {
      &.corvus-matter-depth-#{$level} {
        padding-left: $level * 10px;
      }
    }
  }
}
