.document {
  display: block;
  position: relative;

  width: 650px;
  height: auto;

  padding: 0px;
  margin: auto;
  border: none;

  box-sizing: border-box;
  text-align: justify;
  hyphens: auto;

  overflow: hidden;
}
