.rpg-mastery {
  .rpg-mastery-innates {
    min-height: 0em;
    margin-bottom: 1em;
  }

  @include media-breakpoint-up(md) {
    .rpg-mastery-innates {
      min-height: 4em;
      margin-bottom: 0px;
    }
  }
}
