ul.matter {
  &, ul, li  {
    display: block;
    list-style: none;
  }

  li {
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    font-size: 1.2em;
    color: lighten($text-color, 50%);

    a {
      display: inline-block;
      font-size: 1em;
      width: 100%;
      color: $text-color;
    }
  }
}
