@use "sass:map";

.rpg-minimap {
  position: relative;
  display: block;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;
  border: none;

  overflow: hidden;

  font-size: map.get($font-size, "sm");

  mask-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 99%,
    rgba(0, 0, 0, 0) 100%
  );

  .rpg-minimap-element {
    display: block;
    overflow: hidden;

    white-space: nowrap;

    color: $text-color;

    &.is-disabled {
      color: lighten($text-color, 40%);
    }

    &.is-active {
      font-weight: bold;
    }
  }

  @for $depth from 0 to 6 {
    .rpg-minimap-depth-#{$depth} {
      padding-left: $depth * 7px;
    }
  }
}
