@use "sass:map";

.rpg-summary {
  margin-bottom: map.get($content-spacing, "xs");

  .rpg-summary-element {
    display: block;
    overflow: hidden;

    white-space: nowrap;

    color: $text-color;

    &:after {
      content: "..................................................................................................................................";
      display: inline-block;

      width: auto;
      margin-left: 5px;

      color: #999999;
    }
  }

  .rpg-summary-depth-0 {
    margin-left: 0px;
  }

  .rpg-summary-depth-1 {
    margin-left: 20px;
  }

  .rpg-summary-depth-2 {
    margin-left: 40px;
  }

  .rpg-summary-depth-3 {
    margin-left: 60px;
  }

  .rpg-summary-depth-4 {
    margin-left: 80px;
  }

  .rpg-summary-depth-5 {
    margin-left: 100px;
  }

  .rpg-summary-depth-6 {
    margin-left: 120px;
  }
}

@include media-breakpoint-up(xs) {
  .rpg-summary {
    margin-bottom: map.get($content-spacing, "sm");
  }
}

@include media-breakpoint-up(sm) {
  .rpg-summary {
    margin-bottom: map.get($content-spacing, "md");
  }
}

@include media-breakpoint-up(md) {
  .rpg-summary {
    margin-bottom: map.get($content-spacing, "lg");
  }
}
