table.table {
  width: 100%;
  height: auto;

  margin: 0px;
  padding: 0px;

  tr, td, thead, tbody, tfoot, th {
    border: none;
  }

  thead tr {
    height: auto;
    width: auto;

    padding: 0px;
    margin: 0px;

    th {
      height: 1em;
      width: auto;

      padding: 0px;
      margin: 0px;

      padding-top: 0.125em;
      padding-bottom: 0.125em;

      vertical-align: middle;
    }
  }

  tbody {
    tr {
      height: auto;
      width: auto;

      padding: 0px;
      margin: 0px;

      border: none;

      td {
        height: 1em;
        width: auto;

        padding: 0px;
        margin: 0px;

        padding-top: 0.125em;
        padding-bottom: 0.125em;

        vertical-align: middle;
      }
    }
  }
}
